/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
 * Reset default form styling for browser consistency
 */
[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid grey;
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;

  &:focus {
    box-shadow: none;
    outline: 0;
  }
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
}
button:focus {
  outline: none;
}
textarea {
  resize: none;
  width: 100%;
}

input:disabled,
input[readonly],
select:disabled,
textarea:disabled,
textarea[readonly] {
  cursor: default;
}

[type='checkbox'],
[type='file'],
[type='radio'] {
  margin: 0 0 1rem;
}

[type='checkbox'],
[type='radio'] {
  display: inline-block;
  margin-right: 5px;
  vertical-align: baseline;
}

[type='checkbox'] + label,
[type='radio'] + label {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

[type='file'] {
  width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  margin-bottom: 0;
  max-width: 100%;
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}



html,
body {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


a {
  text-decoration: none;
  color: inherit;
}

blockquote,
figure {
  margin: 0;
}

blockquote {
  .quote {
    quotes: '“' '”' '‘' '’';

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}

table {
  padding: 0;
}